@font-face {
    font-family: 'Gothic';
    src: url('../../assets/fonts/GOTHIC.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gothic';
    src: url('../../assets/fonts/GOTHICB.TTF');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gothic';
    src: url('../../assets/fonts/GOTHICBI.TTF');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gothic';
    src: url('../../assets/fonts/GOTHICI.TTF');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Silverstone';
    src: url('../../assets/fonts/Silverstone-Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SilverstoneRound';
    src: url('../../assets/fonts/Silverstone-Sans-Round.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'SilverstoneRound', sans-serif;
    position: relative;
}

body::before {
    content: "";
    background-image: url('../../assets/images/bg-scan.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    z-index: -1;
    opacity: 1;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -1; 
}

.layout {
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 6rem;
}

#reader__dashboard {
    color: white;
    font-size: 20px;
}

#reader__dashboard_section_csr {
    gap: 1rem;
}

#reader__dashboard_section_csr button {
    border: none;
    color:#DB2662;
    outline: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-family: 'Gothic', sans-serif;
    margin-top: 1rem;
    cursor: pointer;
}

#html5-qrcode-select-camera {
    border: none;
    background-color: white;
    color: black;
    font-family: 'Gothic', sans-serif;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

#html5-qrcode-anchor-scan-type-change {
    display: none !important;
}

#reader {
    width: 500px!important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
    background-color: white !important;
    border: 15px solid #DB2662 !important;
    border-radius: 20px !important;
}

#reader video {
    width: 100% !important;
    border-radius: 20px !important;
}

#qr-shaded-region {
    border-color: white !important;
    border-width: 40px 60px !important;  
    border-radius: 20px !important;
}

#qr-shaded-region div {
    background-color: #4285FA !important;
}

#qr-shaded-region div:nth-child(-n+4) {
    height: 10px !important;
}

#qr-shaded-region div:nth-child(n+5) {
    width: 10px !important;
}


img[alt="Info icon"] {
    display: none !important;
}

.top-asset {
    position: absolute;
    top: 0;
}

.bottom-asset {
    position: absolute;
    bottom: 0;
}

.img-milio {
    width: 500px;
}

.img-vip {
    width: 150px;
    position: absolute;
    top: 20%;
    right: 7%;
    z-index: 10;
}

.helper {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    font-family: 'Gothic', sans-serif;
    margin-top: 20px;
}

.loader-container {
    display: flex;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #00BFB2;
    border-top: 16px solid #DB2662;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
}

.pop-up {
    animation-name: pop-up;
    animation-duration: 0.3s;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ff3333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-family: 'Gothic', sans-serif;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
       top: 0;
        opacity: 0;
   }
    to {
       top: 30px;
        opacity: 1;
   }
}
@keyframes fadein {
    from {
       top: 0;
        opacity: 0;
   }
    to {
       top: 30px;
        opacity: 1;
   }
}
@-webkit-keyframes fadeout {
    from {
       top: 30px;
        opacity: 1;
   }
    to {
        top: 0;
        opacity: 0;
   }
}
@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
   }
    to {
        top: 0;
        opacity: 0;
   }
}

@keyframes pop-up {
    from {scale: 0}
    to {scale: 1}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
